@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #eaebec;
  font-family: var(--font-chewy), sans-serif;
}

html{
  overflow-x: hidden;
}

.openNav{
  top: -9999px;
}

.closeNav{
  top: 0;
}

@media (min-width: 768px) {
  .openNav{
    top: 0px;
  }
  
}